
<div class="container">

    <div class="heading">
    <a [routerLink]="[ '/' , { outlets: { primary: ['avg-waiting-time' , selectedSorting], secondRouter: ['filter' , true ] } }]" ><img [src]="backImage" width="40" height="40"/></a><span style="margin-left: 15px;">{{ 'dashboard.avg_waiting_time_hospital' | translate }} {{branchName}}</span>
    </div>
    <div class="sub-container">
      <div class="subHeading">
        <div style="float: left;">
          <span>{{ 'dashboard.dept_queues' | translate }}</span>
        </div>
        <div style="float: right; margin-right: 40px;">
          <span>
            <button mat-mini-fab color="primary" (click)="onPrintPage()">
              <mat-icon>print</mat-icon>
            </button>
          </span>
        </div>
        <div style="float: right; margin-right: 20px;">
          <span>
          <button mat-mini-fab (click)="onPrint()">
            <mat-icon>import_export</mat-icon>
          </button>
        </span>
      </div>
      </div>
      <div class="mat-table-container">
      <table id="avg-wt-time-queue" mat-table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" aria-label="Elements" [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.name' | translate}}</th>
            <td mat-cell *matCellDef="let row; let i = index"><a [routerLink]="[ '/' , { outlets: { primary: ['ticket-status' , branchId , row.id , row.name ,  'waitingTab' ], secondRouter: ['ticket-status-filter' , branchId ,row.id , branchIds , 'waitingTab' ] } }]" style="text-decoration: none;"><span [appBranchTitleColor]="getColor(i + 1)" title={{getFirstLetter(row.name)}}></span><span tooltip={{row.name}} class="branchName">{{row.name}}</span></a></td>
          </ng-container>
      
          <!-- Waiting Time Column -->
          <ng-container matColumnDef="avgWtTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.avg_waiting_time' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span [ngStyle]="getTimeColor(row.avgWtTime)">{{row.avgWtTime}} Min</span></td>
          </ng-container>
      
          <!-- Waiting Customers Column -->
          <ng-container matColumnDef="waiting">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.waiting_customers' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{row.waiting}}</span></td>
          </ng-container>

          <!-- Open Counters Column -->
          <ng-container matColumnDef="open">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.open_counters' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{row.open}}</span></td>
          </ng-container>

           <!-- Service Points Column -->
           <ng-container matColumnDef="servicePoints">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.service-points' | translate}}</th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngFor="let servicePoint of row.servicePoints">
                {{servicePoint.name}}
                <br /> <!-- Use br if you want to display the roles vertically -->
            </ng-container>
            </td>
          </ng-container>
       
         <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
        </div>
    </div>
  
  </div>
    
     