
<div class="container">

    <div *ngIf="pageName == 'department'" class="heading">
      <a [routerLink]="['/' , { outlets: { primary: ['served-and-waiting-dept'], secondRouter: ['served-and-waiting-dept-filter'] } }]" ><img [src]="backImage" width="50" height="50"/></a><span style="margin-left: 15px;">{{ 'dashboard.counter_status' | translate }}</span>
    </div>
    <div *ngIf="pageName == 'counter'" class="heading">
      <a [routerLink]="['/' , { outlets: { primary: ['counter-status'], secondRouter: ['counter-status-hospital-filter'] } }]" ><img [src]="backImage" width="50" height="50"/></a><span style="margin-left: 15px;">{{ 'dashboard.counter_status' | translate }}</span>
    </div>
    <div class="sub-container">
       <div class="subHeading"><span>{{ branchName }}</span></div>
       <div class="mat-table-container">
      <table mat-table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" aria-label="Elements" [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.name' | translate}}</th>
            <td mat-cell *matCellDef="let row; let i = index"><a [routerLink]="" style="text-decoration: none;"><span [appBranchTitleColor]="getColor(i + 1)" title={{getFirstLetter(row.name)}}><span tooltip={{row.name}} class="branchName">{{row.name}}</span></span></a></td>
          </ng-container>

         <!-- Status Column -->
          <ng-container matColumnDef="status">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.status' | translate}}</th>
             <td mat-cell *matCellDef="let row"><div [ngClass]="row.status == 'OPEN' ? 'ellipse-green' : 'ellipse-red'"></div></td>
          </ng-container>

          <!-- Staff Name Column -->
          <ng-container matColumnDef="staffName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.staff_name' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{row.staffFullName}}</span></td>
          </ng-container>
      
          <!-- Served Column -->
          <ng-container matColumnDef="served">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.served' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{row.served}}</span></td>
          </ng-container>

          <!-- Total Transaction Time Column -->
          <ng-container matColumnDef="totalTrTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.total_trt_time' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{getWaitingTime(row.transactionTime)}} Min</span></td>
          </ng-container>
      
         <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
        </div>
    </div>
  
  </div>
    
     