
<div>
  <ul id="heading">
    <li><div style="clear: both;"><img style="float: left;"  [src]="happy" ><h3 style="float: right;">{{happinessData.happy}}%</h3></div>
  <mat-progress-bar mode="determinate" color="primary" value={{happinessData.happy}}></mat-progress-bar>
</li>

<li><div style="clear: both;"><img style="float: left;"  [src]="good"><h3 style="float: right;">{{happinessData.good}}%</h3></div>
  <mat-progress-bar mode="determinate" color="accent" value={{happinessData.good}}></mat-progress-bar>
  </li>

  <li><div style="clear: both;"><img style="float: left;"  [src]="notSatisfied"><h3 style="float: right;">{{happinessData.notSatisfied}}%</h3></div>
    <mat-progress-bar mode="determinate" color="warn" value={{happinessData.notSatisfied}}></mat-progress-bar>
    </li>
</ul>

</div>