
<div class="container">

    <div class="heading">
    <span>{{ 'dashboard.branches' | translate }}</span>
    </div>
    <div class="sub-container">
      <div class="subHeading">
        <div style="float: right; margin-right: 40px;">
          <span>
            <button mat-mini-fab color="primary" (click)="onPrintPage()">
              <mat-icon>print</mat-icon>
            </button>
          </span>
        </div>
      <div style="float: right; margin-right: 20px;">
        <span>
          <button mat-mini-fab (click)="onExportPDF()">
            <mat-icon>import_export</mat-icon>
          </button>
        </span>
      </div>
      </div>
      <div class="mat-table-container">
      <table id="branchTable" mat-table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" aria-label="Elements" [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.name' | translate}}</th>
            <td mat-cell *matCellDef="let row; let i = index"><a [routerLink]="[ '/' , { outlets: { primary: ['branches' , row.id , row.name] , secondRouter: ['queues-filter' , row.id , branchIds ] } }]" style="text-decoration: none;"><span [appBranchTitleColor]="getColor(i + 1)" title={{getFirstLetter(row.name)}}><span tooltip={{row.name}} class="branchName">{{row.name}}</span></span></a></td>
          </ng-container>
          
         <!-- Avg Transaction Time Column -->
          <ng-container matColumnDef="avgTrtTime">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.avg_trt_time' | translate}}</th>
             <td mat-cell *matCellDef="let row"><span [ngStyle]="row.avgTrtTime > 0 ? {'color': '#E03E26'} : {'color': '#38AE3D'}">{{getWaitingTime(row.avgTrtTime)}} Min</span></td>
          </ng-container>

          <!-- Avg Waiting Time Column -->
          <ng-container matColumnDef="avgWtTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.avg_wt_time' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span [ngStyle]="getTimeColor(row.avgWtTime)">{{getWaitingTime(row.avgWtTime)}} Min</span></td>
          </ng-container>
      
          <!-- Served Column -->
          <ng-container matColumnDef="served">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.served' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{row.served}}</span></td>
          </ng-container>

          <!-- Waiting Column -->
          <ng-container matColumnDef="waiting">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.waiting' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{row.waiting}}</span></td>
          </ng-container>
      
          <!-- Open Column -->
          <ng-container matColumnDef="open">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.open' | translate}}</th>
            <td mat-cell *matCellDef="let row"><span>{{row.open}}</span></td>
          </ng-container>
  
           <!-- Closed Column -->
           <ng-container matColumnDef="closed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dashboard.closed' | translate}}</th>
              <td mat-cell *matCellDef="let row"><span>{{row.closed}}</span></td>
            </ng-container>
      
         <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
      </div>
    </div>
  
  </div>
    
     